<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.min.css"  media="screen,projection">
    <title>Inicio</title>
</head>
<body>
    <div class="container">
        <a><i class="large material-icons">archive</i></a>
        <a><i class="large material-icons">shopping_cart</i></a>
    </div>
    <script src="js/materialize.min.js"></script>
</body>
</html>